<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>相册</title>
<style type="text/css">
<!--
body {margin: 5px;color: #FFFFFF;background-color: #000000;font-size:12px}
a:link, a:visited { color: #FFFFFF; }
-->
</style>
</head>

<body>
<DIV align="center">

 <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="#" name="3d_curve_wall" width="800" height="600" align="middle" id="3d_curve_wall">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="3d_curve_wall.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#000000" />
    <embed src="3d_curve_wall.swf" quality="high" bgcolor="#000000" width="800" height="600" name="3d_curve_wall" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="#" />
  </object>

<br /><br />
<a href="../Main/index.html">Go Back</a>
<br />
<br />
</div>

</body>
</html>
