<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>AboutMe</title>
</head>
<body style="text-align:center;background-color:#4CC2FF">
<script type="text/javascript" src="js/xixi.js"></script>
<div id="imager_div"></div>
<script language="javascript" type="text/javascript">
var swf = new sinaFlash("swf/shis.swf", "", "268", "244", "8", "#4CC2FF", true,"high");
	swf.addParam("allowScriptAccess", "always");
	swf.addParam("wmode", "opaque");
	swf.addVariable("p_array", "images/CQUPT.jpg|images/RedRock.jpg|images/Me.jpg");
	swf.addVariable("txt_array", "CQUPT|RedRock|Me");
	swf.addVariable("link_array", "http://www.cqupt.edu.cn/cqupt/index.shtml|http://hongyan.cqupt.edu.cn/aboutus/|../Main/index.html");
	swf.write("imager_div");
</script>
<p>School:<a href="http://www.jz123.cn/" target="_blank">CQUPT</a></p>
 <div style="display:none">
 	<script src='http://s6.cnzz.com/stat.php?id=44148&web_id=44148&show=pic' language='JavaScript' charset='gb2312'>
</script>

</div>
</body>
</html>