<!doctype html>
<html>

<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="boothead">
		<span>home</span>
		<span>Aboout Me</span>
		<span>Link</span>
		<span></span>
		<form method="post" action="#">
			<input type="text" name="" value="" placeholder="搜索">
			<button type="submit">确定</button>
		</form>
	</div>
	<div name="bootbody">
		<div name="lable">
			<span>个人日记</span>
			<span>杂项</span>
			<span>学习</span>
			<span>CQUPT</span>
		</div>
		<div>
			<a href="http://cqupt.edu.com.cn">CQUPT</a>
			<a href="#">RedRock</a>
			<a href="http://www.baidu.com">Baidu</a>
		</div>
	</div>
</body>
<script type="text/javascript">


/*
本页面：
	 头部: home Diary MessageBoard Photos AboutMe Link 
	 身体：文章标题 简介 写作时间 留言按钮  
	 标签：个人日志 文摘 课时学习 
	 归档：时间轴
	 尾部： 分页 
	 底层：友情链接

日志页：
	头部: home Diary MessageBoard Photos AboutMe Link 
	身体： 文章标题 简介 内容 写作时间 留言（+楼中楼）
	标签： 
	底层：友情链接

留言板：
	头部: home Diary MessageBoard Photos AboutMe Link 
	身体：头像 名字 内容 时间 楼中楼 分页
	尾部：友情链接

相册:
	头部: home Diary MessageBoard Photos AboutMe Link 
	身体：相册 图片时间 留言 分页 轮播
	底层：友情链接
*/
</script>
</html>